[data-theme="dark"] {
    --body-bg: #363636;
    --header-bg: #121212;
    --card-nt-th-td-footer-cc: white;
    --card-th-td-bg: #484848;
    --nt: white;
    --icon :invert(100%) sepia(100%) saturate(0%) hue-rotate(333deg) brightness(102%) contrast(102%);
}

/*SWITCH ==================================*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-repeat: no-repeat;
    background-image: url("../assets/sun.png");
    background-position-x: 3.8vh;
    background-position-y: 0.5vh;

    background-color:#fff;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.4s linear;
  }

  .slider:before {
    
    background-color: rgb(85, 85, 85);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    
    transition:all 0.4s linear;
    width: 26px;
  }

  input:checked + .slider {
    background-repeat: no-repeat;
    background-image: url("../assets/moon.png");
    background-position-x: 0.4vh;
    background-position-y: 0.5vh;

    background-color: #ccc ;
  }
  
  input:checked + .slider:before {
    background-image: initial;
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }